
#header {
    color:#0000ff;
    text-align:center;
}
      
.sections {
    background-color:white;
    color:black;
    margin:20px;
    padding:20px;
} 

#footer {
    color:#0000ff;
    text-align:center;   
}
li{
  
  list-style: none;
}
.sections li{
  list-style: unset;
}
